<template name="add_ticket">

    <div class="units-row">

        <div class="unit-50">
        <h1>Prijavi rojeve</h1>
            <form class="login forms">
        <label>Vaše ime: 
            <input type="text" name="name"  class="width-100"/>
        </label>
        <label>Kontakt telefon: 
            <input type="phone" name="phone"  class="width-100"/>
        </label>
        <label>
        Opis: 
            <textarea name="description" placeholder="description"  class="width-100"></textarea>
        </label>
      
       <h3> Lokacija: </h3>
      
        <label>
        <button id ="my_loc" name="my_loc">Moja lokacija</button> 
    </label>
       <label>
            ili odaberi na mapi
       </label>
        <div class="map-container width-100">
            {{> googleMap name="map" options=mapOptions}}
            <button id="remove_marker">Remove marker</button>
        </div>
        <style type="text/css" media="screen">
            .map-container {
                height: 250px;
                }
        </style>
        <p><input id="my_lat" type="hidden" name="lat" value=""></p>
        <p><input id="my_lng" type="hidden" name="lng" value=""></p>
        

       <!--  <p><input type="submit" value="Submit ticket"></p> -->
        <button class="btn btn-red" type="submit" value="Submit ticket">Prijavi roj!</button>
    </form>
        </div>
        
    </div>

    
</template>