<template name="add_ticket">
    <div class="units-row">
        <div class="unit-centered unit-50">
        <h1>Prijavi rojeve</h1>
        <form class="login forms">
        <label>
            Vaše ime:
            <input type="text" name="name"  class="width-100"/>
        </label>
        <label>
            Kontakt telefon:
            <input type="phone" name="phone"  class="width-100"/>
        </label>
         <label>
            Naslov:
            <input type="text" name="title"  class="width-100"/>
        </label>
        <label>
            Vaš komentar:
            <textarea name="description" class="width-100"></textarea>
        </label>

       <h3> Lokacija: </h3>

        <label>
        <button id ="my_loc" name="my_loc" class="btn btn-blue width-100"><i class="fa fa-globe"></i>
Koristi moju trenutnu lokaciju</button>
    </label>
       <label>
            ili odaberi na mapi
       </label>
        <div class="map-container width-100">
            {{> googleMap name="map" options=mapOptions}}

        </div>
        <style type="text/css" media="screen">
            .map-container {
                height: 250px;
                }
        </style>
        <p><input id="my_lat" type="hidden" name="lat" value=""></p>
        <p><input id="my_lng" type="hidden" name="lng" value=""></p>

         <button id="remove_marker" class="btn btn-yellow" >Ukloni marker</button>
       <!--  <p><input type="submit" value="Submit ticket"></p> -->
        <button class="btn btn-red right" type="submit" value="Submit ticket">Prijavi roj!</button>
    </form>
        </div>

    </div>


</template>