<template name="evts">

    <nav class="nav nav-stacked">
        <ul class="list-flat">
        {{#each events}}
            <li>
            <a href="{{pathFor route='event'}}">
            <b class="badge badge-red badge-small right">{{priority}}</b>
              {{title}} I {{formatTime createdAt}}
              </a>
            </li>
        {{/each}}
        </ul>
    </nav>
</template>


<template name="event">
    <div class="units-row">
        <div class="unit-50">

    <ul class="list-flat">
        <li class="tools-alert">
        <h3>{{title}} - {{formatTime createdAt}}</h3>
        <p>{{name}}</p>
        <p>{{description}}</p>

        <p>Broj prijava do sada: <span class="badge badge-red">{{priority}}</span> </p>

        </li>
    </ul>
     {{#if currentUser}}

    <button id="priority_btn" value="Prioritize" type="submit" name="action" class="btn btn-blue width-100">Povećaj prioritet <i class="fa fa-arrow-up"></i> </button>
<hr >
{{/if}}
<h3>Vaši komentari:</h3>
		<ol class="list-flat">
		  {{> event_comments_list}}
		</ol>


 {{#if currentUser}}
<form class="forms register">
    <label>
        Vaš komentar:
          <textarea name="comment" class="width-100"></textarea>
    </label>
	<button class="btn btn-green width-100" value="Register" type="submit" name="action">Komentiraj
		<i class="fa fa-paper-plane-o"></i>
	</button>
</form>
{{/if}}
</div>
		<div class="unit-50">
            <div class="map-container">
                {{> googleMap name="event_map" options=mapOptions}}
            </div>
            <div class="sensor-data">
                {{> sensorData}}
            </div>
		</div>
    </div>
</template>

<template name="event_comments_list">
{{#each eventComments}}

        <li class="tools-alert tools-alert-yellow">
            {{comment}}
            {{username user}}
        </li>

{{/each}}
</template>

<template name="sensorData">
<hr />
<h3>Izmjerene vrijednosti (10 zadnjih očitavanja)</h3>
<table class="table-bordered">
<tr>
    <th>Temperatura</th>
    <td>{{temperature}} °C</td>
</tr>
<tr>
    <th>Vlažnost</th>
    <td>{{humidity}} %</td>
</tr>
<tr>
    <th>Brzina vjetra</th>
    <td>{{wind}} km/h</td>
</tr>
</table>

    <div id="gauge" class="200x160px"></div>
        <script>
            var g = new JustGage({
            id: "gauge",
            value: {{avg}},
            min: 0,
            max: 100,
            title: "Mogućnost rojenja komaraca"
      });
    </script>


<a class="btn btn-green btn-outline width-100" href="{{pathFor 'sensor' _id=nearest_sensor }}" title="">Provjerite vrijednosti naše senzorske mreže <i class="fa fa-line-chart"></i>
</a>
</template>