<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<template name="header">
    <header class="group">
    <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
    <span>Izbornik</span>
</div>
        <nav id="navbar-1" class="navbar">
            <ul>
            	<li><a href="{{pathFor route='home'}}"><i class="fa fa-home"></i> Naslovnica</a></li>
                <li><a href="{{pathFor route='sensors'}}"><i class="fa fa-tachometer"></i> Senzori</a></li>
                <li><a href="{{pathFor route='activities'}}"><i class="fa fa-area-chart"></i> Aktivnosti</a></li>
                {{#if currentUser}}
                <li><a href="{{pathFor route='add_ticket'}}"><i class="fa fa-bug"></i> Prijavi Rojeve</a></li>
                {{#if currentUser}}
				  <li><a href="#" class="logout"><i class="fa fa-sign-out"></i>
					Odjava</a></li>
				  {{else}}
				  <li><a href="{{pathFor route='login'}}">Prijava <i class="fa fa-sign-in"></i>
					</a></li>
				  <li><a href="{{pathFor route='register'}}">Registracija <i class="fa fa-user-plus"></i>
					</a></li>
				  {{/if}}
            </ul>
        </nav>
    </header>
</template>