<template name="main">
    	{{> header}}

        {{> message}}

    	<div class="main">
    		{{> yield}}
    	</div>
    	{{> footer}}		
</template>
<template name="home">
    <div class="units-row">
        <div class="unit-30">{{> evts}}</div>
        <div class="unit-70">
            <nav class="nav-tabs" data-tools="tabs" data-equals="true">
        <ul>
            <li><a href="#tab1">Trenutno stanje</a></li>
            <li><a href="#tab2">Prijavljeni rojevi</a></li>
            <li><a href="#tab3">Stanje na terenu</a></li>
        </ul>
    </nav>
        	{{> maps}}
        </div>
    </div>

	   
	    
</template>
