<template name="sensors">
<h2>Popis senzora</h2>
<div class="units-row">
    <div class="unit-30">
        <nav class="nav nav-stacked">
            <ul>
            {{#each sensors}}
                <li>
                    <a href="{{pathFor route='sensor'}}" title=""><i class="fa fa-search-plus"></i>
 {{name}} </a>
                </li>
            {{/each}}
            {{#if isAdmin}}
                <a href="{{pathFor route='new_sensor'}}" title="new_sensor">Dodaj novi senzor</a>
            {{/if}}
            </ul>
        </nav>
    </div>
    <div class="unit-70">
        <div class="map-container">
            {{> googleMap name="sensors_map" options=mapOptions}}
        </div>
    </div>
</div>
</template>

<template name="new_sensor">
<div class="units-row">
<div class="unit-centered unit-50">
     <form method="post" action="" class="forms new_sensor">
            <h1>Dodaj senzor</h1>
            <label for="name">Naziv senzora
            <input type="text" name="name"  class="width-100"/>
            </label>
            <label for="description">Opis
            <textarea name="description" class="width-100"></textarea>
            </label>
            <h3>Lokacija: </h3>
           <label>
                Odaberi na mapi
           </label>
            <div class="map-container width-100">
                {{> googleMap name="map" options=mapOptions}}
            </div>
  
            <p><input id="my_lat" type="hidden" name="lat" value=""></p>
            <p><input id="my_lng" type="hidden" name="lng" value=""></p>

           <!--  <p><input type="submit" value="Submit ticket"></p> -->
           <button id="remove_marker" class="btn btn-red">Ukloni marker</button>
            <button class="btn btn-blue right" type="submit" value="Submit ticket">Spremi senzor</button>
    </form>
    </div>
</div>
</template>

<template name="sensor">
<div class="units-row">
        <div class="unit-70">
            <h1>
                {{name}}
            </h1>
            <p class="light">{{description}}</p>

            {{> highchartsHelper chartId="temperature" chartWidth="100%" charHeight="100%" chartObject=temperatureChart}}

            {{> highchartsHelper chartId="humidity" chartWidth="100%" charHeight="100%" chartObject=humidityChart}}

            {{> highchartsHelper chartId="wind" chartWidth="100%" charHeight="100%" chartObject=windChart}}
        </div>
        <div class="unit-30">
                <table class="table-hovered">
        <tr>
            <th>NODE ID</th>
            <td>ESP8266-123</td>
        </tr>
        <tr>
            <th>Temp senzor</th>
            <td>BMP280</td>
        </tr>
        <tr>
            <th>Senzor vlažnosti</th>
            <td>BMP280</td>
        </tr>
        <tr>
            <th>Vlasnik</th>
            <td>Gradska uprava</td>
        </tr>
        </table>
            <div class="map-container">
                {{> googleMap name="sensor_map" options=mapOptions}}
            </div>

        </div>
    </div>
</template>

