<template name="register">

 <h2>Registracija</h2>
    <form method="post" action="" class="forms register">
        <label>
            Email
            <input id="email" type="email" name="email" class="width-50" />
        </label>
        <label>
            Zaporka
            <input id="password" type="password" name="password" class="width-50" />
        </label>
        <p>
            <button class="btn-blue btn width-50" type="submit" name="action">Registracija</button>
        </p>
    </form>
</template>