<template name="login">
 <h2>Prijava u sustav</h2>
    <form method="post" action="" class="forms">
        <label>
            Email
            <input id="email" type="email" name="email" class="width-50" />
        </label>
        <label>
            Password
            <input id="password" type="password" name="password" class="width-50" />
        </label>
        <p>
            <button class="btn-blue btn width-50" type="submit" name="action">Log in</button>
        </p>
    </form>
</template>